<h3><%= @group.group_name %></h3>
(<i><%= @group.open ? 'Public' : 'Private' %></i>)

<%= link_to 'Leave', group_leave_path(current_user, @group) %>
<% if myself_or_admin %>
  <%= button_to 'Edit', edit_group_path(@local_user, @group), class: 'basic-grey-btn', method: :get %>
  <%= button_to 'Delete', group_path(@local_user, @group), class: 'basic-grey-btn', method: :delete %>
<% end %>

<h3>Banners</h3>
<table>
  <% @group.banners.in_groups_of(3, false) do |group| %>
    <tr>
      <% group.each do |banner| %>
        <td><%= link_to (image_tag banner.image, width: 300), banner.url %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<% if current_user.admin? %>
  <%= button_to 'Add Banner', new_group_banner_path(@local_user, @group), class: 'basic-grey-btn', method: :get %>
<% end %>

<h3>Messages</h3>
<table>
  <% @messages.each do |msg| %>
    <%= render 'messages/show', msg: msg %>
  <% end %>
</table>

<h4>New message:</h4>
<%= render 'messages/form', url: messages_path(@local_user),
           group: @group, action: :Send %>